.form {
  margin-top: 1em;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

textarea {
  height: 12rem;
  display: block;
}

input,
textarea {
  width: 15rem;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

*:focus {
  outline: none;
}

button {
  padding: 0.4rem 0.7rem;

  margin: 0.5em auto;
  border: 1px solid rgb(80, 228, 80);
  border-radius: 20px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(80, 228, 80);
}

.cancelBtn {
  border: 1px solid rgb(238, 95, 95);
}

.cancelBtn:hover {
  background-color: rgb(238, 95, 95);
}

.buttonDiv {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-around;
}
