.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.del {
  border: 1px solid rgb(238, 95, 95);
}

.del:hover {
  background-color: rgb(238, 95, 95);
}

.edit {
  border: 1px solid rgb(118, 118, 226);
}

.edit:hover {
  background-color: rgb(118, 118, 226);
}
